<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bysj.crm.dao.CustomerMapper">
    <resultMap id="customer" type="bysj.crm.domain.Customer">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="address" column="address"/>
        <result property="companyName" column="company_name"/>
        <result property="companyTel" column="company_tel"/>
        <result property="companyAddress" column="company_address"/>
        <result property="linkedName" column="linked_name"/>
        <result property="linkedPhone" column="linked_phone"/>
        <result property="linkedAddress" column="linked_address"/>
        <result property="level" column="level"/>
    </resultMap>

    <sql id="allColumns">
        id,name,phone,address,company_name,company_tel,company_address,linked_name,
        linked_phone,linked_address,level
    </sql>

    <insert id="addCustomer">
        INSERT into customers (name,phone,address,company_name,company_tel,company_address,linked_name,
        linked_phone,linked_address,level) VALUES (#{customer.name},#{customer.phone},#{customer.address},
        #{customer.companyName},#{customer.companyTel},#{customer.companyAddress},
        #{customer.linkedName},#{customer.linkedPhone},#{customer.linkedAddress},#{customer.level})
    </insert>

    <update id="updateCustomer">
        UPDATE customers SET name=#{customer.name},phone=#{customer.phone},address=#{customer.address},
        company_name=#{customer.companyName},company_tel=#{customer.companyTel},company_address=#{customer.companyAddress},
        linked_name=#{customer.linkedName},linked_phone=#{customer.linkedPhone},linked_address=#{customer.linkedAddress},
        level=#{customer.level}
        WHERE id=#{customer.id}
    </update>

    <delete id="deleteCustomer">
        DELETE FROM customers WHERE id=#{id}
    </delete>

    <select id="getCustomerByName" resultMap="customer">
        SELECT <include refid="allColumns"/> FROM customers WHERE name=#{name}
    </select>

    <select id="getCustomerCount" resultType="java.lang.Long">
        SELECT count(id) FROM customers
        <if test="customer!=null and customer.name !=null and customer.name!=''">
            <where>
                name like concat('%','${customer.name}','%')
            </where>
        </if>
        <if test="customer != null and customer.phone !=null and customer.phone != ''">
            <where>
                phone =  #{customer.phone}
            </where>
        </if>
    </select>

    <select id="getCustomerPage" resultMap="customer">
        SELECT <include refid="allColumns"/> FROM customers
        <if test="customer != null and customer.name !=null and customer.name != ''">
            <where>
                name LIKE concat('%','${customer.name}','%')
            </where>
        </if>
        <if test="customer != null and customer.phone !=null and customer.phone != ''">
            <where>
                phone =  #{customer.phone}
            </where>
        </if>
        limit #{page.offset},#{page.pageSize}
    </select>

    <select id="getCustomerById" resultMap="customer">
        SELECT <include refid="allColumns"/> FROM customers WHERE id=#{id}
    </select>
</mapper>