<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bysj.crm.dao.UserMapper">
    <resultMap id="user" type="bysj.crm.domain.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="role" column="role"/>
        <result property="level" column="level"/>
        <result property="deptName" column="dept_name"/>
        <result property="jobNumber" column="job_number"/>
    </resultMap>

    <sql id="allColumns">
        id,name,password,salt,role,level,dept_name,job_Number
    </sql>

    <insert id="addUser">
        INSERT INTO users (name,password,salt,role,level,dept_name,job_Number) VALUES
        (#{user.name},#{user.password},#{user.salt},#{user.role},#{user.level},#{user.deptName},#{user.jobNumber})
    </insert>

    <update id="updateUser">
        UPDATE users SET
        name=#{user.name},password=#{user.password},salt=#{user.salt},role=#{user.role},
        level=#{user.level},dept_name=#{user.deptName},job_number=#{user.jobNumber}
        WHERE id=#{user.id}
    </update>

    <delete id="deleteUser">
        DELETE FROM users WHERE id=#{id}
    </delete>

    <select id="getByJobNumber" resultMap="user">
        SELECT <include refid="allColumns"/> FROM users WHERE job_number = #{jobNumber}
    </select>

    <select id="getUserById" resultMap="user">
        SELECT <include refid="allColumns"/> FROM users WHERE id=#{id}
    </select>
</mapper>